:root {
    box-sizing: border-box;
    --black: #000000;
    --gray: #d8d9db;
    --gray-hover: ;
    --yellow: #df974d;
    --white: #ffffff;
    --gap: 2px;
}

body {
    margin: 0;
    padding: 0;
}

.calc {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: var(--black);
}

.calc-screen {
    font-size: 40px;
    padding: 20px 5px;
    font-family: "Courier New", Courier, monospace;
    color: var(--white);
    text-align: right;
}

.calc-btn-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 2px;
    gap: var(--gap);
}

.calc-btn-row:last-child {
    margin-bottom: 0px;
}

.calc-btn {
    height: 100px;
    font-size: 40px;
    background-color: var(--gray);
    color: var(--black);
    border: none;
    cursor: pointer;
}

.calc-btn:hover {
    background-color: #ebebeb;
}

.calc-btn:last-child {
    color: var(--white);
    background-color: var(--yellow);
}

.calc-btn:last-child:hover {
    background-color: #dfb07e;
}

.double {
    grid-column: 1 / 3;
}

.triple {
    grid-column: 1 / 4;
}
